<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization</title>
</head>
<body>
    <p>
        Please select a visualization from the following: <br/>
        <form action='/visual' method="POST">
            <input type="radio" name="visual" value="team" checked="checked"/> Number of players by team <br/>
            <input type="radio" name="visual" value="nationality"/> Number of players by nationality <br/>
            <input type="radio" name="visual" value="position" /> Number of players by position <br/>
            <input type="submit" value="Submit">
        </form>
    </p>
</body>
</html>