<!DOCTYPE html>
<html lang="en">
<base href="http://127.0.0.1:5000/">
<head>
    <meta charset="UTF-8">
    <title>Home: La Liga 2020-21</title>
</head>
<body>
<h1>
    Hello! Welcome to La Liga 2020-21 Statistics.
</h1>
<p>
    To see the League's organization structure, please go to <a href="tree">Tree Structure</a>
</p>
<p>
    To see the rankings of the teams, please go to <a href="standings">Standings</a>
</p>
<p>
    To see the top 10 goal scorers, please go to <a href="scorers">Top Scorers</a>
</p>
<p>
    To see the top 10 assists, please go to <a href="assists">Top Assists</a>
</p>
<p>
    To see statistical visualizations of players, please go to <a href="choose">Visualizations</a>
</p>
</body>
</html>