<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {text-align: center}
        .button {
            text-align: center;
        }
    </style>
    <title>Top 10 Goal Scorers</title>
</head>
<body>
    <h1>
        Top 10 Goal Scorers
    </h1>
    {{ table | safe }}
    <div class="button">
        <p>
            <a href="javascript:history.back()">Back</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/">Home</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/assists">Top assists</a>
        </p>
    </div>
</body>
</html>